! ------------- BDM configuration file. Spaces between entries are significant
!                   These are main parameters:
          iVirial   =      1           ! switch: 1 =Virial,  0=200 overdensity
          NradP     =     100           ! Number of shells for halo profiles
          Rext      =  0.6             ! extr radius shift at m=1e15
          SlopeR    =  1.667           ! slope for extr radius shift
          MassMin   =  1.000E+11       ! Minimum halo mass
          dLogR     =  2.000E-02       ! size of log binning for potential
          dLogP     =  1.000E-02       ! size of log binning for profiles